.navbar {
    background-color: aqua;
}

.navbar>img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    display: inline-block;
}

.navbar>ul>li>a {
    color: black;
}

.navbar>ul>li {
    display: inline-block;
}

.navbar>ul {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
}

.navbar>h3 {
    display: inline-block;
}

.list li a {
    display: inline-block;
    text-decoration: none;
}