.body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.flex {
    background-color: black;
}

.flex>h3 {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex>img {
    height: 90px;
    width: auto;
}

.flex>ul>li>a {
    list-style: none;
    text-decoration: none;
}
.backgroundimage1{}