.flex {
    background-color: black;
}

.flex>img {
    height: 70px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}
.flex>h3{display: block;}
.flex>ul{list-style: none;
display: inline-block;}
.flex li{display: inline-block;}
.flex>img{justify-content: center;}